body,
p,
h1,
h2,
h3,
h4,
h5,
a,
li,
div,
span,
ul {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
}

body {
    position: relative;
}

a {
    box-shadow: none;
}

/* Hide from mobile browser */
@media only screen AND (max-width: 500px) {
    .mobileHidden {
        display: none;
    }
}

/* Index page header */
.header {
    padding: 0 32px;

    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;

    /* Real 100% height */
    min-height: 100vh;
    /*min-height: calc(var(--vh, 1vh) * 100);*/
}

.header__container {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 30px;
}
#header__logo {
    padding: 0;
    margin: 0;
    margin-right: 18px;
    width: 120px;
    height: 120px;
}

#header__logo #H polyline,
#header__logo #K polyline {
    stroke: #50a7c2;
}

.header__title {
    margin-bottom: 8px;
}

.header__h1,
.header__h1 span {
    font-family: "Open Sans condensed";
    font-size: 50px;
    letter-spacing: 15px;
    font-weight: 300;
    line-height: 50px;
}

/* Header animation */
.header #H {
    stroke-dasharray: 520 1000;
    stroke-dashoffset: 521;
    animation: dash 6s ease-out forwards;
}

.header #A {
    stroke-dasharray: 330 1000;
    stroke-dashoffset: 331;
    animation: dash 6s ease-out forwards;
}

.header #N {
    stroke-dasharray: 390 1000;
    stroke-dashoffset: 391;
    animation: dash 6s ease-out forwards;
}

.header #K {
    stroke-dasharray: 460 1000;
    stroke-dashoffset: 461;
    animation: dash 6s ease-out forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.header__arrow {
    visibility: hidden;
    opacity: 0;
    -webkit-animation: 1s infinite alternate arrowBounce;
    animation: 1s infinite alternate arrowBounce, 0.7s fadein 7s forwards;
    position: absolute;
    bottom: 10%;
}

.header__arrow:hover {
    cursor: pointer;
}

.header__arrow span {
    display: block;
    width: 32px;
    height: 32px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-color: #333333;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

@keyframes fadein {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes arrowBounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-16px);
        transform: translateY(-16px);
    }
}
/* Index page main section */

.section {
    width: 100%;
    font-family: "Open Sans";
    padding: 80px 20% 0 20%;
    line-height: 1.5;
}

@media only screen and (max-width: 600px) {
    .section {
        width: 100%;
        font-family: "Open Sans";
        padding: 80px 5% 0 5%;
        line-height: 1.5;
    }
}

/*.section:nth-child(odd) {
    background-color: #eee;
}*/
.section h1 {
    font-size: 2em;
    font-weight: 800;
    margin: 0 0 32px;
    padding: 0 15px;
    border-left: 8px solid #50a7c2;
}

.section h2 {
    font-size: 1.5em;
    font-weight: 600;
}

#liveWrapper {
    margin: 0;
    margin-top: 10px;
    /*padding-top: 10px;*/
    overflow: hidden;
    position: relative;
    height: 45px;
}

#liveWrapper li {
    padding: 10px 0;
    height: 45px;
    margin-bottom: 45px;
    display: block;
}

#liveWrapper ul {
    animation: flip 30s ease-in-out infinite;
}

@keyframes flip {
    0% {
        margin-top: -810px;
    }
    1% {
        margin-top: -720px;
    }
    11% {
        margin-top: -720px;
    }
    12% {
        margin-top: -630px;
    }
    22% {
        margin-top: -630px;
    }
    23% {
        margin-top: -540px;
    }
    33% {
        margin-top: -540px;
    }
    34% {
        margin-top: -450px;
    }
    44% {
        margin-top: -450px;
    }
    45% {
        margin-top: -360px;
    }
    55% {
        margin-top: -360px;
    }
    56% {
        margin-top: -270px;
    }
    66% {
        margin-top: -270px;
    }
    67% {
        margin-top: -180px;
    }
    77% {
        margin-top: -180px;
    }
    78% {
        margin-top: -90px;
    }
    89% {
        margin-top: -90px;
    }
    90% {
        margin-top: 0px;
    }
    98.99% {
        margin-top: 0px;
    }
    99.99% {
        margin-top: 90px;
    }
    100% {
        margin-top: -810px;
    }
}

.section p {
    font-size: 1.1em;
    line-height: 1.6;
    margin: 0 0 16px;
}

/* Index page narbar */
nav.show {
    opacity: 1;
    transition: 0.25s;
}
nav.hide {
    visibility: hidden;
    opacity: 0;
    transition: 0.1s;
}
nav {
    visibility: visible;
    position: fixed;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    width: 120px;
}
nav li {
    list-style-type: none;
    position: relative;
    height: 2em;
    margin: 0;
    vertical-align: middle;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -ms-align-items: center;
    align-items: center;
}
nav li a {
    font-size: 18px;
    position: relative;
    color: #777;
    transition: transform 0.2s;
    will-change: transform;
    text-decoration: none;
    display: inline-block;

    font-weight: 600;
}
nav li a:hover {
    text-decoration: underline;
    cursor: pointer;
}
nav li.myactive a {
    font-size: 18px;
    color: #222;
    font-weight: 800;
    transform: translateX(6px);
}

nav li.myactive:before {
    content: "";
    width: 4px;
    height: 20px;
    background: #50a7c2;
    position: absolute;
    top: 50%;
    left: -10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Footer */
footer {
    margin: 50px 0 0 0 !important;
    padding: 16px 0 20px 0;
    background-color: #333;
    color: white;
}

footer h1 {
    margin: 20px;
    font-size: 18px;
    font-weight: 800;
    color: #ccc;
}
footer p,
footer a {
    color: #ccc;
    font-size: 12px;
    line-height: 2;
}
