.social-link-li svg {
  height: 16px;
  width: 16px;
}

.site-header-content svg {
  height: 55px;
}

.site-home-header .inner {
  opacity: 0;
  -webkit-animation: fadein 2s forwards 0.3s;
  -moz-animation: fadein 2s forwards 0.3s;
  -ms-animation: fadein 2s forwards 0.3s;
  -o-animation: fadein 2s forwards 0.3s;
  animation: fadein 0.5s forwards 0.3s;
}

.site-main .inner {
  opacity: 0;
  -webkit-animation: fadein 2s forwards 0.5s;
  -moz-animation: fadein 2s forwards 0.5s;
  -ms-animation: fadein 2s forwards 0.5s;
  -o-animation: fadein 2s forwards 0.5s;
  animation: fadein 0.5s forwards 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
