/* Navbar */
a {
  box-shadow: none !important;
}

.social-link-li svg {
  height: 16px;
  width: 16px;
}

.site-header-content svg {
  height: 55px;
}

.site-header-content h2.site-description {
  padding-top: 20px;
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 2rem;
}

.site-home-header .site-description {
  font-size: 2.2rem;
  font-family: 'Open Sans';
  font-weight: 300;
}
